*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #686868FF;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.header{
    width: 1200px;
    height: 900px;
    background-color: #fafafa;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.header .container .logo{
    margin-bottom: 30px;
    text-align: center;
}
.logo .imglg1,.logo .imglg2{
    border-radius: 90px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: #242424;
}
a:hover{
    text-decoration: none;
}
.header #nav{
    line-height: 54px;
    display: inline-block;
}
#nav .active-c{
    color: #bb942f;
    transform: scale(1.2);
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li{
    display: inline-block;
}
#nav > li > a{
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 0 40px;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a{
    color: #bb942f;
    transform: scale(1.2);
    transition: all 500ms;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fafafa;
    box-shadow: 0 0 10px #242424;
    min-width: 150px;
}
#nav .subnav .active{
    color: #bb942f;
}
#nav .subnav a{
    padding: 0 20px;
    color: #242424;
    font-weight: 500;
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#nav .subnav li:hover a{
    color: #bb942f;
    background-color: #eeebeb;
    transition: all 500ms;
}
.search{
    float: right;
}
.search .search-btn{
    font-size: 20px;
    line-height: 53px;
    background-color: #fafafa;
    padding: 0 20px;
    margin-right: 100px;
    border: none;
}
.search .search-btn:hover{
    color: #bb942f;
    transform: scale(1.2);
    transition: all 400ms;
}
.section{
    float:left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
}
.content{
    float: left;
    width: 66.67%;
    padding-right: 15px;
}
.sidebar{
    float: left;
    width: 33.33%;
    padding-left: 15px;
}
.entry{
    float: left;
    width: 100%;
}
.entry .box{
    background-color: #fafafa;
    line-height: 1.5;
    margin: 30px 0;
}
.entry .box img:hover{
    transform: scale(1.05);
    transition: all 500ms;
}
.entry .box a h2:hover{
    color: #bb942f;
    transition: all 500ms;
}
.entry .box a h4:hover{
    color: #bb942f;
    transition: all 500ms;
}
.entry .box h2:hover{
    color: #bb942f;
    transition: all 400ms;
}
.sidebar-block{
    float: left;
    width: 100%;
    padding-left: 10px;
}