*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fafafa;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.header{
    width: 100%;
    background-color: #fafafa;
    line-height: 50px;
    margin: 0 0 20px 0;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.header .container .logo{
    float: left;
    display: inline-block;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #242424;
}
a:hover{
    text-decoration: none;
}
.header #nav{
    line-height: 54px;
    display: inline-block;
}
#nav .active{
    color: #bb942f;
    transform: scale(1.2);
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li{
    display: inline-block;
}
#nav > li > a{
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 0 20px;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a{
    color: #bb942f;
    transform: scale(1.2);
    transition: all 500ms;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
    min-width: 150px;
}
#nav .subnav a{
    padding: 0 20px;
    color: #242424;
    font-weight: 500;
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#nav .subnav li:hover a{
    color: #bb942f;
    background-color: #eeebeb;
    transition: all 500ms;
}
.search{
    float: right;
}
.search .search-btn{
    font-size: 20px;
    line-height: 53px;
    background-color: #fafafa;
    padding: 0 20px;
    margin-right: 100px;
    border: none;
}
.search .search-btn:hover{
    color: #bb942f;
    transform: scale(1.2);
    transition: all 500ms;
}
#s-text{
    position: relative;
}
.ip-search{
    padding: 0 50px 0 20px;
    border: 1px solid black;
    border-radius: 20px;
}
.s-icon{
    position: absolute;
    top: 10%;
    right: -38px;
    border-radius: 20px;
    padding: 0 20px 0 0;
}
.ti-search{
    font-size: 20px;
}
#s-text .ti-search:hover{
    color: #bb942f;
    transition: all 500ms;
}

.section{
    float:left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
}
.content{
    float: left;
    width: 66.67%;
    padding-right: 15px;
}
.entry{
    float: left;
    width: 100%;
}

.sidebar{
    float: left;
    width: 33.33%;
    padding-left: 15px;
}
.sidebar-block{
    float: left;
    width: 100%;
    padding-left: 20px;
}
.hashtag .tag{
    background-color: #dad6d6;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}
.hashtag .tag:hover{
    background-color: #e3d7d7;
    cursor: pointer;
}
.hashtag .tag a{
    color: #242424;
}
.hashtag .tag:hover a{
    text-decoration: none;
    color: #bb942f;
}
.highlights .box{
    padding: 30px;
}
.highlights .box a:hover h4{
    color: #bb942f;
    transition: all 500ms;
}

.footer{
    display: inline-block;
    width: 100%;
    background-color: #949292;
}
.footer .container{
    background-color: #949292;
}
.contact .stk-text{
    display: inline-block;
    padding-left: 10px;
}
.sticky{
    font-size: 40px;
    margin: 10px;
}
.box-stk{
    display: inline-block;
    margin: 10px;
}
.stk-face, .stk-you, .stk-ins, .stk-twit{
    color: #fafafa;
    background-color: #242424;
    padding: 10px;
    border-radius: 100px;
}
.stk-face:hover, .stk-you:hover, .stk-ins:hover, .stk-twit:hover{
    background-color: #4f4b4b;
}